= simple_form_for @play, html: { multipart: true } do |f|
	= f.input :title, label: 'Play Title'
	= f.select :category_id, Category.all.map{ |c| [c.name, c.id] }
	= f.input :description
	= f.input :director
	= f.button :submit