.row
	.col-md-4
		%img{:src => @play.image.url(:medium), :alt => @play.title, :class => 'play-show'}

	.col-md-8
		.play-info
			%h2.play-title= @play.title
			%h3.play-director= "From #{@play.director}"
			%h4.play-director= @play.category.name
			%p.play-desc= @play.description

.links.btn-group
	-if signed_in? && @play.user_id == current_user.id
		= link_to 'Edit', edit_play_path(@play), class: 'btn btn-default'
		= link_to 'Delete', @play, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' 